<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href=".././script/css/styles.css"> -->

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script>
    // var mysql = require('mysql');

    // const connection = mysql.createConnection({
    //     host :'localhost', //db ip address
    //     port : 3306, //db port number
    //     user : 'root', //db id
    //     password : '', //db password
    //     database:'tasman' //db schema name
    // });
    //
    // $.get("http://localhost/tasman", function(data){
    //   console.log(data);
    //   $.each(data,function(index, value){
    //     console.log(value);
    //     $('ul').append('<li class="list"><span class="btn-delete" data-id="' + value._id + '"><i class="fa fa-trash-o"></i></span>'+ value.name +'</li>')
    //   })
    // })
    // </script>
</head>

<body>
    <div class="container">
        <h1>Todo List <i class="fa fa-plus btn-toggle"></i></h1>
        <input type="text" placeholder="Add New Todo" id="createList">
        <ul>

        </ul>
    </div>
</body>
 <!-- <script src=../script/js/todos.js></script> -->

</html>
